---
import { getEntry, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

const entry = await getEntry("pages", "index");
const { Content } = await render(entry);
---

<BaseLayout title="Welcome to Homeschool Hub">
	<div class="prose dark:prose-invert max-w-none text-lg">
		<Content />
	</div>
</BaseLayout>
