---
import { type CollectionEntry, render } from "astro:content";
import { marked } from "marked";
import type { ReactElement } from "react";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

interface Props {
  resource: CollectionEntry<"resources">;
}

const { resource } = Astro.props;

const { Content } = await render(resource);

let titleHtml = (marked.parse(resource.data.title) as string).trimEnd();
if (titleHtml.endsWith("</p>")) {
  titleHtml = titleHtml.substring(0, titleHtml.length - "</p>".length);
}
if (titleHtml.startsWith("<p>")) {
  titleHtml = titleHtml.substring("<p>".length);
}
---

<Card>
  <CardHeader>
    <CardTitle
      >{
        resource.data.url ? (
          <a class="underline" href={resource.data.url} set:html={titleHtml} />
        ) : (
          <span set:html={titleHtml} />
        )
      }</CardTitle
    >
    {
      resource.data.creator && (
        <CardDescription set:html={marked.parse(resource.data.creator)} />
      )
    }
  </CardHeader>
  <CardContent>
    <Content />
  </CardContent>
</Card>
