---
import { ClientRouter } from "astro:transitions";
import Header from "@/components/Header";
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";

interface Props {
    title: string;
}

let baseUrl = import.meta.env.BASE_URL;
if (baseUrl.length <= 1) {
    baseUrl = "http://localhost:4321";
}
console.log("base url:", baseUrl);

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>The Bookish Homeschooler | {title}</title>
        <ClientRouter />
    </head>
    <body class="bg-background text-foreground min-h-screen flex flex-col">
        <Header baseUrl={baseUrl} client:load />
        <main class="container mx-auto px-6 py-8 flex-grow">
            <h1 class="text-xl font-bold mb-8 tracking-tight">{title}</h1>
            <slot />
        </main>
        <Footer />
    </body>
</html>
